---
---

@import "{{ site.theme }}";

$bg-color: #fdeeed;
$header-color: #b657db;
$link-color: #b61c52;

body {
  background-color: $bg-color;
}

.main-content {
	h1, h2, h3, h4, h5, h6 {
		color: $header-color;
	}

	a {
	  color: $link-color;
	}
}

.page-header {
	color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
	text-align: center;
	background-image: linear-gradient(120deg, #ffb3cb 60%, #ffa0a0);
}
